version: '3.8' 

services:
  db:
    image: postgres:15-alpine

    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: prod_db

    volumes:
      - db_data:/var/lib/postgresql/data 

  api:
    build:
      context: .
      dockerfile: Dockerfile 
      target: runner 
    
    ports:
      - "3000:3000" 


    environment:
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      DB_NAME: prod_db

    depends_on:
      - db

volumes:
  db_data: